<div *ngFor="let post of posts" class="post-card">
  <h3>{{ post.title }}</h3>
  <p>{{ post.body }}</p>
  <p><strong>Tags:</strong> 
    <span *ngFor="let tag of post.tags" class="tag">{{ tag }}</span>
  </p>
  <p><strong>User Id:</strong> {{ post.userId }}</p>
  <p><strong>Views:</strong> {{ post.views }}</p>
  <p><strong>Likes:</strong> {{ post.reactions?.likes }} | 
     <strong>Dislikes:</strong> {{ post.reactions?.dislikes }}</p>
</div>
<p></p>

<label>Add an item:</label>
<input #additem />
<button (click)="addNewItem(additem.value)">Add</button>